<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets</title>
  </head>

  <body>
    <h1>Secrets</h1>
    <ul>
      <li>
        Lorsque vous préparez des desserts au chocolat, ajoutez toujours un peu
        de sel. Cela rend la saveur du chocolat plus intense.
      </li>
      <li>
        Lorsque vous voyagez à l'étranger, apportez une nouvelle bande-son pour
        chaque endroit que vous visitez, de préférence une que vous n'avez
        jamais entendue auparavant. À l'avenir, chaque fois que vous réécouterez
        chaque bande-son, elle vous rappellera des souvenirs vivants des lieux
        que vous avez visités.
      </li>
      <li>
        Ne tentez pas d'être la personne que vos parents voudraient que vous
        soyez. Soyez la personne que vous aimeriez que votre enfant soit. Cela
        définit plus clairement vos propres convictions, désirs, objectifs et
        vous motive à être à votre meilleur.
      </li>
      <li>
        Si un ami ou un membre de votre famille reçoit un diagnostic de démence
        ou d'Alzheimer, essayez de découvrir dès les premiers stades quelles
        sont leurs chansons préférées de tous les temps. De cette manière, vous
        pourrez créer une playlist pour eux qui pourrait être d'un grand
        bénéfice dans les stades avancés de la maladie.
      </li>
      <li>
        Lorsque un ami est contrarié, posez-lui une simple question avant de
        dire quoi que ce soit d'autre : 'Veux-tu en parler ou préfères-tu être
        distrait(e) ?'
      </li>
      <li>
        Si jamais vous oubliez votre mot de passe WiFi ou si vous souhaitez
        obtenir le mot de passe WiFi de votre école, etc. Tapez simplement cette
        commande dans la ligne de commande d'un ordinateur déjà connecté à ce
        WiFi : netsh wlan show profile Nom-du-WiFi key=clear
      </li>
    </ul>
  </body>
</html>
